<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="signup.html">회원가입</a></li>
            <li><a href="login.html">로그인</a></li>
        </ul>
    </header>
    <main>
        <h1>Login Page</h1>
        <form id="login" action="index-user.html" method="post">
            <label for="email">email</label>
            <input type="email" id="email" name="email"/>
            <label for="password">password</label>
            <input type="password" id="password" name="password"/>
        </form>
        <button form="login">login</button>
    </main>
</body>
</html>
