<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<header>
    <ul>
        <li><a href="signup.html" th:href="@{/signup}">회원가입</a></li>
        <li><a href="login.html" th:href="@{/login}">로그인</a></li>
    </ul>
</header>
<main>
    <h1>SignUp Page</h1>
    <!--/*@thymesVar id="signUpRequest" type="com.github.smdj.marusei.controller.request.SignUpRequest"*/-->
    <form id="signup" action="login.html" method="post" th:action="@{/signup}" th:object="${signUpRequest}">
        <ul th:if="${#fields.hasErrors()}">
            <li th:each="err : ${#fields.errors()}" th:text="${err}">
                아래의 에러를 확인해 주세요!
            </li>
        </ul>
        <div>
            <label for="email">e-mail</label>
            <input type="email" id="email" name="email" th:field="*{email}"/>
            <ul th:if="${#fields.hasErrors('email')}">
                <li th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
            </ul>
        </div>
        <div>
            <label for="nickname">nickname</label>
            <input id="nickname" name="nickname" th:field="*{nickname}"/>
            <ul th:if="${#fields.hasErrors('nickname')}">
                <li th:each="err : ${#fields.errors('nickname')}" th:text="${err}"></li>
            </ul>
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password" th:field="*{password}"/>
            <ul th:if="${#fields.hasErrors('password')}">
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
            </ul>
        </div>
        <div>
            <label for="password_confirm">password(확인)</label>
            <input type="password" id="password_confirm" name="password_confirm" th:field="*{passwordConfirm}"/>
            <ul th:if="${#fields.hasErrors('passwordConfirm')}">
                <li th:each="err : ${#fields.errors('passwordConfirm')}" th:text="${err}"></li>
            </ul>
        </div>
    </form>
    <button form="signup">회원가입</button>
</main>
</body>
</html>
