<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<header>
    <ul>
        <li><a href="#">회원가입</a></li>
        <li><a href="#">로그인</a></li>
    </ul>
</header>
<main>
    <h1>sign up! 회원가입</h1>
    <form id="signup" action="login.html" method="post">
        <div>
            <label for="email">e-mail</label>
            <input type="email" id="email" name="email"/>
        </div>
        <label for="nickname">nickname</label>
        <input id="nickname" name="nickname" />
        <label for="password">password</label>
        <input type="password" id="password" name="password" />
        <label for="password_confirm">password(확인)</label>
        <input type="password" id="password_confirm" name="password_confirm" />
    </form>
    <button form="signup">회원가입</button>
</main>
</body>
</html>
