<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Article Create Page</title>
</head>
<body>
<main>
    <article>
        <h1>글 작성 페이지</h1>
        <form id="create-article" action="preview.html">
            <label for="title">Title</label>
            <input id="title" name="title" />
            <label for="body">Body</label>
            <textarea id="body" name="body" rows="20" cols="50"></textarea>
        </form>
        <button form="create-article">submit</button>
        <button type="reset" form="create-article">reset</button>
    </article>
</main>
</body>
</html>
