<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Article Detail Page</title>
</head>
<body>
<main>
    <h1>This is Article Detail Page</h1>
    <article>
        <div>
            This is Article Contents This is Article Contents This is Article Contents
            This is Article Contents This is Article Contents This is Article Contents
            This is Article Contents This is Article Contents This is Article Contents
        </div>
    </article>
    <a href="edit.html">수정</a>
    <a href="index-user.html">삭제</a>
    <a href="javascript:history.go(-1)">뒤로가기</a>
</main>
</body>
</html>
