<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Article Preview Page</title>
</head>
<body>
<main>
    <article>
        <h1>This is Article Preview Page</h1>
        <div>
            This is Article Preview This is Article Preview This is Article Preview
            This is Article Preview This is Article Preview This is Article Preview
            This is Article Preview This is Article Preview This is Article Preview
        </div>
    </article>
</main>
<a href="detail.html">confirm</a>
<a href="edit.html">edit</a>
</body>
</html>
